.login-container {
  display: flex;
  justify-content: center;
  align-items: center;
  max-height: 100vh;
  padding-top: 10px;
  height: 100vh;
  max-width: 600px;
}

.login-box {
  background-color: #ffffff;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  width: 87%;
  margin: 2.3rem auto;
  border-radius: 12px;
  padding:30px  0;
}

.login-content {
  display: flex;
  align-items: center;
  gap: 15rem;
}

.login-image {
  width: 37%;
  padding-top: 3rem;
  max-width: 100%; 
}

.login-image img {
  width: 100%;
  height: 75%;
  max-height: 65vh; 
}

.login-form {
  padding-right: 4rem;
  padding-top: 1.5rem;
}

.login-form button {
  width: 100%;
  padding: 1rem;
  margin-top: 1.4rem;
}

.register-link {
  display :flex;
  gap: 0.5rem;
  text-align: center;
  margin-top: 15px;
  font-size: 14px;
  align-items: center;
  justify-content: center;

  a{text-decoration: underline;}
}

.text {
  font-size: 13px;
  padding: 6px;
}

.login-logo {
  width: 27vh;
  height: 17vh;
}

.role-select {
  align-items: center;
  background-color: #f4f4f4;
  border: 1px solid #566754;
  border-radius: 0.75rem;
  display: flex;
  gap: 1rem;
  justify-content: center;
  outline: none;
  padding: 0.875rem 1.25rem;
  width: 100%;
}


@media (max-width: 992px) {
  .login-image {
    display: none; 
  }

  .login-box {
    width: 90%;
    height: auto; 
    margin-top: 1.5rem; 
    padding: 2rem;
  }

  .login-form {
    padding-right: 1rem; 
  }

  .login-form button {
    padding: 0.75rem; 
    margin-top: 1.5rem; 
  }
}


@media (max-width: 576px) {
  .login-box {
    width: 90%;
    height: auto; 
    margin-top: 1rem; 
    padding: 1rem; 
  }

  .login-content {
    flex-direction: column; 
    text-align: center; 
  }

  .login-image {
    width: 80%; 
    padding-top: 2rem; 

  }

  .login-form {
    padding-right: 0; 
  }

  .login-form button {
    padding: 0.5rem; 
    margin-top: 1rem; 
}
}