.container {
  background-color: #f4f4f4;
  display: flex;
  justify-content: space-around;
  padding: 3.125rem 5rem;
  width: 100%;
}

.login-box {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-around;
  background-color: #fff;
  border-radius: 20px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  
}

.login-content {
  display: flex;
  width: 60%;
  justify-content: space-between; 
  align-items: center;
  gap:20%;
}

.login-image {
  display: flex;
  justify-content: center;
  width: 50%;
  
}


.login-form {
  display: flex;
  width: 50%;
  height: 100%;
  border-radius: 0px 20px 20px 0px;
  background-color: var(--light-grey);
  padding:20px;
  flex-direction: column;
  gap: 10px;
  justify-content: center;
  
}

.login-form button {
  width: 100%;
  margin-top: 10%;
  
}

.register-link {
  display: flex;
  gap: 2%;
  text-align: center;
  margin-top: 5%;
  font-size: 16px;
  align-items: center;
  justify-content: center;

  a {
    text-decoration: underline;
    cursor: pointer;
  }
}

.text {
  font-size: 13px;
  padding: 6px;
}

.login-logo {
  width: 40%;
  height: auto;

}

.role-select {
  align-items: center;
  background-color: #f4f4f4;
  border: 1px solid #566754;
  border-radius: 0.75rem;
  display: flex;
  gap: 1rem;
  justify-content: center;
  outline: none;
  padding: 0.875rem 1.25rem;
  width: 100%;
}

