/* Cores */
:root {
  --primary-color: #004e16;
  --primary-color-dark: #003d12;
  --border-color: #ccc;
  --dark-grey: #2d2d2d;
}

.register-container {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  background-color: #fff;
  border-radius: 20px;
  padding: 30px;
  margin: 20px;

  form {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 40%;

    h1 {
      color: var(--dark-grey);
      font-size: 1.5rem;
      margin-bottom: 1rem;
    }

    .form-row {
      align-items: center;
      display: flex;
      gap: 1rem;
      margin-bottom: 1rem;
      width: 100%;
    }

    p {
      margin: 0.5rem 0;
    }
  }

  img {
    width: 40%;
  }
}
