/* Cores */
:root {
  --primary-color: #004e16;
  --primary-color-dark: #003d12;
  --border-color: #ccc;
  --dark-grey: #2d2d2d;
  --light-grey: #f7f7f7;
}

.container {
  background-color: #f4f4f4;
  display: flex;
  gap: 5rem;
  justify-content: space-between;
  padding: 3.125rem 6.25rem;
  width: 100%;

  .register-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #fff;
    border-radius: 20px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    width: 100%;

    form {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      width: 50%;
      background-color: var(--light-grey);
      padding: 2.5rem 5rem;
      border-radius: 0 10px 10px 0;
      box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);

      h1 {
        color: var(--dark-grey);
      }

      .form-row {
        align-items: center;
        display: flex;
        gap: 1rem;
        margin-bottom: 1rem;
        width: 100%;
      }

      p {
        margin: 0.5rem 0;
      }
    }

    img {
      width: 40%;
    }
  }
}
