.container {
  position: relative;
  width: fit-content;

  .button_container {
    align-items: center;
    border: none;
    border-radius: 0.75rem;
    color: #ffffff;
    cursor: pointer;
    display: flex;
    font-size: 1rem;
    font-weight: 700;
    gap: 1rem;
    justify-content: center;
    padding: 0.875rem 1.25rem;
    transition: 0.2s;
    width: 100%;

    &:disabled {
      background-color: #aeaeae;
      border: none;
      cursor: not-allowed;

      &:hover {
        border: none;
        background-color: #aeaeae;
      }
    }
  }

  .primary {
    border: 2px solid #0f8143;
    background-color: #0f8143;

    &:hover {
      border: 2px solid #004620;
      background-color: #004620;
    }
  }

  .secondary {
    border: 2px solid #004620;
    background-color: #ffffff;
    color: #004620;
  }

  .tertiary {
    border: 2px solid #004620;
    background-color: #004620;
  }
}

.freeSize {
  position: relative;
  width: 100%;
}
