
.container {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding: 40px;
  }
  
  .orderListContainer {
    width: 80%;
    background-color: #fff;
    border-radius: 20px;
    padding: 20px;
  }
  
  .filterSection,
  .sortSection {
    margin-bottom: 20px;
    display: flex;
    align-items: center;
  }
  
  .filterSection select,
  .sortSection select {
    margin-right: 10px;
  }
  
  .orderList {
    list-style: none;
    padding: 0;
  }
  
  .orderList li {
    border-bottom: 1px solid #ccc;
    padding: 10px 0;
  }
  
 
  
  .menu {
    width: 25%;
    background-color: #f2f2f2;
    border-radius: 20px;
    padding: 20px;
  }
  