
  li {
    margin: 10px 0;
    padding: 20px; 
    margin-bottom: 10px; 
    background-color: #fff; 
    border: 1px solid #ccc; 
    border-radius: 10px; 
    cursor: pointer; 
    display: flex; 
    font-weight: 600;
    align-items: center; 

    &:hover,
    &:active {
      background-color: #ABDEC2;
    }

    &__icon {
      margin-right: 8px; 
    }
  }



