li {
  margin: 14px 0;
  padding: 20px; 
  margin-bottom: 10px; 
  background-color: #fff; 
  border-radius: 10px; 
  cursor: pointer; 
  display: flex; 
  font-weight: 600;
  align-items: center; 

  &:hover,
  &:active {
    background-color: #ABDEC2;
  }

  img {
    margin-right: 10px; 
  }
}


.menu-icon h3 {
  text-align: center;
  margin: 20px;
  padding: 10px;
}

.menu-icon img {
  margin: 0; 
}
