.container {
  display: flex;
  gap: 5rem;
  justify-content: space-between;
  padding: 3.125rem 6.25rem;
  width: 100%;
}

.userProfileFormContainer {
  align-items: center;
  background-color: #fff;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;

  form {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 1rem;
    padding: 2.5rem 5rem;
    width: 100%;

    h1 {
      color: #2d2d2d;
    }

    .form-row {
      align-items: center;
      display: flex;
      gap: 1rem;
      justify-content: space-between;
      width: 100%;
    }

    button {
      margin-top: 1rem;
    }
  }

  .state_container {
    display: flex;
    flex-direction: column;
    width: 100%;

    .state_select {
      align-items: center;
      background-color: #f4f4f4;
      border: 1px solid #566754;
      border-radius: 0.75rem;
      outline: none;
      padding: 0.875rem 1.25rem;
      width: 100%;
    }
  }
}
.buttonContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.deleteButtonContainer {
  margin-left: 10px; 
  
}

@media (max-width: 1024px) {
  .container {
    padding: 2rem 4rem;
  }

  .userProfileFormContainer form {
    padding: 2rem;
  }

  .form-row {
    flex-direction: column;
    gap: 1rem;
  }

  .buttonContainer {
    flex-direction: column;
    gap: 1rem;
  }
}

@media (max-width: 768px) {
  .container {
    flex-direction: column;
    padding: 1.5rem 2rem;
  }

  .menu {
    flex: 0 0 auto; 
    width: 100%;
    margin-bottom: 1rem; 
  }

  .main-content {
    width: 100%; 
  }

  .userProfileFormContainer form {
    padding: 1.5rem;
  }

  .form-row {
    flex-direction: column;
    gap: 1rem;
  }

  .buttonContainer {
    flex-direction: column;
    gap: 1rem;
  }
}

@media (max-width: 480px) {
  .container {
    padding: 1rem;
  }

  .menu {
    flex: 0 0 auto;
    width: 100%;
    margin-bottom: 1rem;
  }

  .main-content {
    width: 100%;
  }

  .userProfileFormContainer form {
    padding: 1rem;
  }

  .form-row {
    flex-direction: column;
    gap: 0.5rem;
  }

  .buttonContainer {
    flex-direction: column;
    gap: 0.5rem;
  }
}