.container {
  display: flex;
  gap: 5rem;
  justify-content: space-between;
  padding: 3.125rem 6.25rem;
  width: 100%;
}

.userProfileFormContainer {
  align-items: center;
  background-color: #fff;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;

  form {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 1rem;
    padding: 2.5rem 5rem;
    width: 100%;

    h1 {
      color: #2d2d2d;
    }

    .form-row {
      align-items: center;
      display: flex;
      gap: 1rem;
      justify-content: space-between;
      width: 100%;
    }

    button {
      margin-top: 1rem;
    }
  }

  .form-row {
    align-items: center;
    display: flex;
    gap: 1rem;
    margin-bottom: 1rem;
    width: 100%;
  }

  .state_container {
    display: flex;
    flex-direction: column;
    width: 100%;

    .state_select {
      align-items: center;
      background-color: #f4f4f4;
      border: 1px solid #566754;
      border-radius: 0.75rem;
      outline: none;
      padding: 0.875rem 1.25rem;
      width: 100%;
    }
  }
}
.buttonContainer {
  display: flex;
  align-items: center;
}

.deleteButtonContainer {
  margin-left: 10px; 
  
}


