.container {
  background-color: #f4f4f4;
  display: flex;
  gap: 3rem;
  justify-content: space-around;
  padding: 3.125rem 5rem;
  width: 1205px;
 
  
}

.content {
  background-color: #fff;
  border-radius: 20px;
  width: 795px;
  display: flex;
  padding: 50px;


 

  h2 {
    margin-top: 50px;
    margin-left: 20px;
 
  }
 
}

// .section {
//   width: 30%;
//   padding: 100px;
 

//  }

.cardsContainer {
  display: flex;
  // align-items: center;
  flex-direction: row;
  justify-content: space-between;
 

 
  
 
 
}

