.container {
  display: flex;
  flex-direction: column;
  padding: 0;
  margin: 0;
  align-items: center;
}

.topSection {
  display: flex;
  flex-direction: row;
  margin: 4% 5% 0;
  width: 90%;
}

.homeBox {
  display: flex;
  align-items: center;
  background-color: #0f8143;
  border-radius: 2.75rem;
  width: 100%;
  height: 200%;
  flex-direction: row;
  padding: 10px;
}

.rightSection {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 75%;
  background-color: #4CA15D;
  border-radius: 2.75rem;
}

.homeSide {
  margin: 1.5rem; 
  color: #ffffff;
}

.homeSide h2 {
  font-weight: 300;
  font-size:xx-large;
  margin: 10px;
  margin-top: 30px;
 
}

.homeSpace {
  background-color: #D66E0F;
  width: 100%;
  height: 25%;
  border-radius: 2rem;
  margin-left: -0.01rem;
}

.homeContent {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 90%;
  height: auto; 
  background-color: #0A2F2A;
  border-radius: 2.75rem;
  margin-right: 2rem;
  margin-left: 2rem;
  margin-top: 0;
  margin-bottom: 3rem;
  align-items: center;
  align-self: center;
}

.textSection {
  text-align: left;
  color: #F4B16A;
}

.textSection h1 {
  font-weight: 500;
  font-size: 3rem;
}

.textSection h3 {
  color: #ffffff;
  font-weight: 400;
  font-size: 1.5rem;
}

.homeImage {
  width: 100%;
  height: 10%;
  border-radius: 20px;
}

.carousel {
  width: 30%;
  height: auto;
  padding: 20px;
  
}
.carousel img{
  width: 30%;
  height: 30vh;
  padding: 0px;
  
}

.carouselItem {
  position: relative;
  overflow: hidden;
  width: 100%;
  height: auto;
}

.homeImage {
  width: 100%;
  height: auto;
  display: block;
}

.overlay {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  text-align: center;
  padding: 10px;
  visibility: hidden;
  opacity: 0;
  transition: opacity 0.3s, visibility 0.3s;
  border-radius: 100px;
}

.carouselItem:hover .overlay {
  visibility: visible;
  opacity: 1;
}


.imagemCaminhao {
  max-width: 70%;
  height: auto;
  margin-left: 15%;
  padding: 10px;
}

/* Media Queries para Responsividade */
@media (max-width: 1200px) {
  .topSection {
    flex-direction: column;
    width: 90%; 
   
  }

  .homeContent {
    flex-direction: column;
    width: 90%;
    margin-top: 0;

    h1{
      font-size: 2rem;
      margin-top: 10px;
    }
    h3{
      font-size: 1rem;
      margin-bottom: 20px;
    }
  }

  .homeSide{
    h2{
      font-size: 1.5rem;
      margin-top: 0;
    }
  }

  
}

@media (max-width: 768px) {
  .homeBox {
    flex-direction: column;
    height: auto;
  }

  .rightSection {
    height: auto;
  }

  .homeContent {
    flex-direction: column;
    width: 90%;
    // margin: 1rem 0;
    padding: 10px;

    h1{
      font-size: 2rem;
      margin-top: 10px;
    }
    h3{
      font-size: 1rem;
      margin-bottom: 20px;
    }
  }

  .textSection h1, .textSection h3 {
    text-align: center;
 
  }

  .carousel {
    width: 80%;
    padding: 10px;
  }

  .imagemCaminhao {
    margin-left: 0;
    max-width: 80%;
  }
}

@media (max-width: 480px) {
  .topSection, .homeContent, .carousel {
    width: 80%;
    margin: 0;
    padding: 0;
  }

  .homeBox, .rightSection, .homeSpace {
    border-radius: 1.5rem;
    width: 100%;
  }

  .homeContent {
    height: auto;
    padding: 10px;
    margin-bottom: 20px;

    h1{
      font-size: 2rem;
    }
    h3{
      font-size: 1rem;
    }
  }

  .textSection h1 {
    font-size: 1.5rem;
    margin-top: 15px;
  }

  .textSection h3 {
    font-size: 1rem;
  }

  .homeImage {
    height: auto;
    border-radius: 10%;
  }

  .carousel {
    width: 60%;
    padding: 5px;
  }

  .imagemCaminhao {
    width: 60%;
    margin: 0;
    padding: 5px;
  }
}
