.container {
  display: flex;
  flex-direction: column;
  padding: 0;
  margin: 0;


}

.topSection {
  display: flex;
  flex-direction: row;
  margin: 3% 5% 0% 5%;
  margin-bottom: 0;
  // background-color: blue;
  width: 1100px;
  padding-left: 3%;

 
 
}

.homeBox {
  display: flex;
  align-items: center;
  background-color: #0f8143;
  border-radius: 60px;
  width: 650px;
  height: 350px;
  flex-direction: row;



}

.rightSection {
  display: flex;
  flex-direction: column;
  width: 425px;
  height: 270px;
  background-color: #4CA15D;
  border-radius: 60px;


}

.homeSide {
  margin: 2rem;
  padding-top: 2.25rem;
  color: #ffffff;
 
  h2 {
    font-weight: 400;
  }



}

.homeSpace {
  background-color: #D66E0F;
  width: 425px;
  height: 80px;
  border-radius: 60px;
  margin-left: -2.5px;
 
 
}

.homeContent {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 1070px;
  height: 220px;
  background-color: #0A2F2A;
  border-radius: 60px;
  margin-right: 3rem;
  margin-left: 6rem;
  margin-top: 0;
  margin-bottom: 2rem;
  align-items: center;
  

 


}

.textSection {
  text-align: left;
  color: #F4B16A;
  // margin-left: 1rem;

  h1{
    font-weight: 500;
  }

  h3 {
    color: #ffffff;
    font-weight: 400;
  }

}

.homeImage {
  width: 250px;
  height: 160px;
  border-radius: 15%;
 
  
 
  
  
}

.imagemCaminhao {
  max-width: 70%;
  height: auto;
  margin-left: 15%;

}