.container {
  background-color: #f4f4f4;
  display: flex;
  gap: 3rem;
  justify-content: space-between;
  padding: 3.125rem 5rem;
  width: 100%;

  .questions_container {
    background-color: #ffffff;
    border-radius: 1.25rem;
    display: flex;
    flex-direction: column;
    gap: 3rem;
    padding: 2rem;
    width: 100%;

    .questions_heading {
      align-items: center;
      display: flex;
      justify-content: space-between;

      span {
        display: flex;
        gap: 1rem;
        width: 100%;

        h3 {
          font-size: 1.25rem;
        }
      }
    }
  }
}
