/* styles.module.scss */

.headerContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 3.125rem 6.25rem;
  background-color: #ffff;
  color: #000000;
  height: 85px;
}

.logo {
  width: 150px;
  height: 100px;
}

/* USER SECTION */

.userSection {
  align-items: center;
  display: flex;
  flex-direction: row;
  gap: 1rem;
}

.userText {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}

.loginSection {
  display: flex;
  gap: 1rem;

  a {
    text-decoration: none;
  }
}

.userSection span {
  font-size: 1rem;
  display: flex;
  flex-direction: column;
}

.userIcon {
  color: #004e16;
  width: 40px;
  height: 40px;
}

.personContainer {
  font-weight: bold;
}

.expandIcon {
  width: 20px;
  height: 20px;
}

.separator {
  width: 1px;
  height: 50px;
  background-color: #ccc;
  margin: 0 10px;
}

.iconContainer {
  position: relative;
  padding: 1rem 0;
}

.userMenu {
  position: absolute;
  top: 100%;
  right: 0;
  background: white;
  display: none;
  width: max-content;
}

.userMenu.open {
  display: block;
}

.userMenu ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.userMenu li:last-child {
  border-bottom: none;
}

.userMenu a:hover {
  background-color: #abdec2;
}
