.footer {
  width: 100%;
  border: #4CA15D;
  background-color: #4CA15D;
  color: #ffffff;
  padding: 20px;
  text-align: center;
  font-size: 16px;
  font-family: Open Sans;
  font-weight: 600;
  line-height: 21.79px;
}